# Files generated during build process
build
/bin
test/**

# Editor files
.vscode

# ROM files
*.nes
!test/blargg_instr_test-v5
!test/blargg_instr_test-v5/rom_singles
!test/**/*.nes

# SDL files
lib/SDL2/docs
lib/SDL2/test
lib/SDL2-VC/docs
