# Files generated during build process
build*
/bin
test/**
!*.py
Testing
run-clang-tidy.py

# Documentation files (may add later)
Doxyfile
/doc

# Editor files
.vscode
.vs

# ROM files
*.nes
!test/blargg_instr_test-v5
!test/blargg_instr_test-v5/rom_singles
!test/**/*.nes
!test/**/*.log

# SDL files
lib/SDL2/docs
lib/SDL2/test
lib/SDL2-VC/docs
